apiVersion: v1
description: GitLab's Auto-deploy Helm Chart
name: auto-deploy-app
version: 2.40.6
icon: https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.png

dependencies:
  - name: postgresql
    version: "13.1.5"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
  - name: redis
    version: "18.1.6"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled
