apiVersion: v2
description: GitLab's Auto-deploy Helm Chart
name: auto-deploy-app
version: 2.40.12
icon: https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo-square.png

dependencies:
  - name: postgresql
    version: "18.2.4"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled,auto-deploy-app.postgresql.enabled
  - name: redis
    version: "21.2.14"
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: redis.enabled,auto-deploy-app.redis.enabled
