defaultPodOptions:
  securityContext:
    fsGroup: 65534

service:
  main:
    controller: main
    ports:
      http:
        port: 8000
persistence:
  data:
    enabled: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    retain: true
    globalMounts:
      - path: /home/app/.local/share/spoolman
ingress:
  main:
    enabled: false
controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/donkie/spoolman
          tag: 0.23.0
          pullPolicy: IfNotPresent
        env:
          TZ: UTC
